<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
>
  <testsuites>
    <testsuite name="NoData">
      <directory suffix="Test.php">./tests/NoData</directory>
    </testsuite>
    <testsuite name="Data">
      <directory suffix="Test.php">./tests/Data</directory>
    </testsuite>
  </testsuites>
  <coverage/>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="DB_CONNECTION" value="testing"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="BROADCAST_DRIVER" value="redis"/>
    <env name="CACHE_DRIVER" value="redis"/>
    <env name="SESSION_DRIVER" value="redis"/>
    <env name="SESSION_LIFETIME" value="120"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
    <env name="LK_RUN_MODE" value="test"/>
    <env name="REDIS_CLIENT" value="mock"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
    <exclude>
      <directory suffix=".php">./app/Providers</directory>
      <directory suffix=".php">./app/Http/Middleware</directory>
      <file>app/Console/Kernel.php</file>
    </exclude>
  </source>
</phpunit>
