<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
>
  <testsuites>
    <testsuite name="Command">
      <directory suffix="Test.php">./tests/Command</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
    <testsuite name="FeaturePest">
      <directory suffix="Test.php">./tests/FeaturePest</directory>
    </testsuite>
    <testsuite name="UnitPest">
      <directory suffix="Test.php">./tests/UnitPest</directory>
    </testsuite>
  </testsuites>
  <coverage/>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="DB_CONNECTION" value="testing"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="BROADCAST_DRIVER" value="redis"/>
    <env name="CACHE_DRIVER" value="redis"/>
    <env name="SESSION_DRIVER" value="redis"/>
    <env name="SESSION_LIFETIME" value="120"/>
    <env name="REDIS_PASSWORD" value="null"/>
    <env name="REDIS_PORT" value="6379"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
    <env name="LK_RUN_MODE" value="test"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
</phpunit>
