---
import Layout from '../layouts/Layout.astro';
import GainsCards from '../components/GainsCards.svelte';
---

<Layout title="Laravel Kata">
	<main>
        <GainsCards client:load/>
	</main>
</Layout>
